<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'secret/css/secret.css' %}"media="screen" title="no title"  charset="utf-8">
        <style media="screen" type="text/css">
            #sec {
                border: 1px solid black;
                height: 150px;
                width: 500px;
            }
        </style>
    </head>
    <body>
        {% if status == 'main' %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            <div id="wrapper">
            <h1>Hellow {{user.first_name}}!</h1>
            <form class="" action="{% url 'secret:post' %}" method="post">
                {% csrf_token %}
                <textarea name="message" rows="8" cols="80">Your secret here...</textarea><br>
                <button type="submit" name="button">Post</button>
            </form>
            <a href="{% url 'secret:popular' %}">Most popular secrets</a>
            <a href="{% url 'log:logout' %}">Logout</a>
            <h3>Recent Secrets: </h3>
              {% for secret in secrets %}
                 <div id="sec">
                    <p>{{ secret.message }} Posted at {{ secret.created_at }} {{secret.liked_by.all.count}} likes.</p>
                    {% if user in secret.liked_by.all %}
                      <p>You liked this</p>
                    {% endif %}
                    {% if secret.user_message == user %}
                    <p> You posted this <a href="{% url 'secret:delete' secret.id %}">Delete</a></p>
                    {% else %}
                      {% if user not in secret.liked_by.all %}
                        <a href="{% url 'secret:like' secret.id %}">Like</a>
                      {% endif %}
                    {% endif %}
                </div>
              {% endfor %}
            </div>
        {% endif %}
        {% if status == 'popular' %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
           {% endif %}
           <div id="popular">
               <h3>Most popular secrets</h3>
               <a href="{% url 'secret:index' %}">Back</a>
               {% for secret in secrets %}
                  <div id="sec">
                     <p>{{ secret.message }} Posted at {{ secret.created_at }} {{secret.liked_by.all.count}} likes.</p>
                     {% if user in secret.liked_by.all %}
                       <p>You liked this</p>
                     {% endif %}
                     {% if secret.user_message == user %}
                     <p> You posted this <a href="{% url 'secret:delete' secret.id %}">Delete</a></p>
                     {% else %}
                       {% if user not in secret.liked_by.all %}
                         <a href="{% url 'secret:like' secret.id %}">Like</a>
                       {% endif %}
                     {% endif %}
                 </div>
               {% endfor %}
             </div>
           </div>
        {% endif %}
    </body>
</html>
